{% if Super == True %}{% extends './baseSuper.html' %}{% else %}{% extends './base.html' %}{% endif %}
{% block title %}Vision AI - Ayuda{% endblock %}
{% block body %}
<div class="hidden container-section-help">
    <div class="container-how-use">
        <div class="how-use">
            <h1>¿Cómo Funciona La Aplicación?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ut placeat, deleniti quaerat soluta
                vel
                doloribus. Debitis hic illo, doloribus quibusdam in accusantium, nostrum libero pariatur assumenda
                recusandae sapiente facere.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, molestias quaerat? Perferendis
                voluptatibus
                cupiditate quibusdam inventore nihil impedit culpa aut vel nam cum dolores veritatis obcaecati facilis,
                incidunt reprehenderit eveniet.
            </p>
        </div>

        <iframe height="315" src="https://www.youtube.com/embed/3uEivxfjZ3E?si=o-IWj1UexvLEomYY"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="container-questions">
        <h2>Preguntas Frecuentes</h2>
        <section class="question">
            <h3>¿Qué pasa si olvido mi contraseña asignada?</h3>
            <div class="question-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ut placeat, deleniti quaerat
                    soluta
                    vel doloribus. Debitis hic illo, doloribus quibusdam in accusantium, nostrum libero pariatur
                    assumenda
                    recusandae sapiente facere.</p>
            </div>
        </section>

        <section class="question">
            <h3>¿Dónde puedo ver las alertas de seguridad de la cámara?</h3>
            <div class="question-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ut placeat, deleniti quaerat
                    soluta
                    vel doloribus. Debitis hic illo, doloribus quibusdam in accusantium, nostrum libero pariatur
                    assumenda
                    recusandae sapiente facere.</p>
            </div>
        </section>

        <section class="question">
            <h3>¿Se puede cambiar de cámara en caso de avería?</h3>
            <div class="question-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ut placeat, deleniti quaerat
                    soluta
                    vel doloribus. Debitis hic illo, doloribus quibusdam in accusantium, nostrum libero pariatur
                    assumenda
                    recusandae sapiente facere.</p>
            </div>
        </section>

        <section class="question">
            <h3>¿Cómo consigo la clave de seguridad única?</h3>
            <div class="question-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ut placeat, deleniti quaerat
                    soluta
                    vel doloribus. Debitis hic illo, doloribus quibusdam in accusantium, nostrum libero pariatur
                    assumenda
                    recusandae sapiente facere.</p>
            </div>
        </section>

        <section class="question">
            <h3>¿Puedo cambiar los datos de mi usuario?</h3>
            <div class="question-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ut placeat, deleniti quaerat
                    soluta
                    vel doloribus. Debitis hic illo, doloribus quibusdam in accusantium, nostrum libero pariatur
                    assumenda
                    recusandae sapiente facere.</p>
            </div>
        </section>

        <section class="question">
            <h3>¿La página debe estar abierta para que funcione la cámara de video?</h3>
            <div class="question-content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus ut placeat, deleniti quaerat
                    soluta
                    vel doloribus. Debitis hic illo, doloribus quibusdam in accusantium, nostrum libero pariatur
                    assumenda
                    recusandae sapiente facere.</p>
            </div>
        </section>

    </div>
</div>
<footer class="hidden Copyright" style="color: black;">
    <h6>© 2024 Tecnológico de Estudios Superiores de Cuautitlán Izcalli.</h6>
</footer>
{% endblock %}